# Logs
logs
*.log

# IDEs
.idea
.iml

/node_modules
migration-tool/node_modules

# Users Environment Variables & settings
.lock-wscript
.env
/.gulprc

.DS_Store
.#*

# Vim
*.swp
*.iml

# certificates
public_key.pem
